.faqs{
    padding: 70px 0;
    &.title{
        padding: 0;
        h1{
            display: none;
        }
    }
    h1{
        font-size: 45px;
        line-height: 50px;
        font-weight: 900;
        color: #272727;
        margin-bottom: 40px;

    
    }
}