.flower{
    background-color: rgba(241,101,42,.05);
    padding: 70px 0px 0px;
    h2{
        font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    letter-spacing: 0.05em;
    color: #272722;
    }
    p{
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        text-align: justify;
        letter-spacing: 0.03em;
        color: #626262;
        margin: 18px 0px;
    }
}