.slogan {
    position: relative;
    text-align: left;
    font-size: 15px;
    color: #666;
    font-weight: 500;
    margin-bottom: 10px;
    padding-top: 30px;
    svg {
      color: #f1652a;
      width: 28px;
    }
    span{
      font-style: italic;
    }
  }