.breadcrumbOption {
    background: rgba(241,101,42,.05);
    padding: 40px 0;
}

.breadcrumbText h4 {
    font-size: 24px;
    font-weight: 800;
    color: #272727;
    margin-bottom: 5px;
}
.breadcrumbLinks{
    li{
        &:last-child{
            span{
                color: #f1652a;
            }
        }
    }
}

.breadcrumbLinks a {
    font-size: 15px;
    display: inline-block;
    position: relative;
    color: #555;
    font-weight: 600;
    text-decoration: none;
    margin-right: 15px;
}

.breadcrumbLinks a:after {
    position: absolute;
    content: "";
    background-image: url(../../public/images/arrow-right.svg);
    background-size: contain;
    font-size: 12px;
    right: -18px;
    top: 6px;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
}

.breadcrumbLinks span {
    font-size: 15px;

    font-weight: 700;
    display: inline-block;
}

.breadcrumbItem{
    &:last-child{
        a{
            &:after{
                display: none;
            }
        }
    }
}