.nav-tabs{
    border: none;
    .nav-item{
        padding: 10px;
       .nav-link{
        border: none;
        color: #1c145c;
        border-bottom: 3px solid transparent;
        padding: 0;
        padding-bottom: 10px;
        &.active{
            border-bottom: 3px solid;
            -o-border-image: linear-gradient(45deg, #d2232a 0%, #a33f91 48%, #303188 100%) 1;
            border-image: linear-gradient(45deg, #d2232a 0%, #a33f91 48%, #303188 100%) 1;
            transition: all linear 0.3s !important;
            color: #a33f91;
        }
       } 
    }
}